/* custom variables */
:root {
	/* Colors */
	--color-red: #d81e05;
	--color-red-dark: #800f00;
	--color-btn-green: #26a514;
	--color-btn-dark-green: #1e8210;
	--color-text-grey: #666;
	--color-border-grey: #d9d9d9;
	--color-bg-grey: #f5f5f5;
	--color-white: #fff;

	/* Typography */
	--small-font-size: 0.875rem;
	--base-font-size: 1rem;
	--sub-title-font-size: 1.618rem;
	--mid-title-font-size: 2.618rem;
	--big-title-font-size: 4.236rem;
	--massive-title-font-size: 6.854rem;

	--base-text-line-height: 1.125rem;
	--title-line-height: 1.5rem;

	/* Other */
	--navbar-height: 85px;
}

/* General reset of user-agent */
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	width: 100vw;
	/* make every page  */
	min-height: 100vh;
	overflow-x: hidden;
	font-size: var(--base-font-size);
	line-height: var(--base-text-line-height);
}

/* general custom stylings of reoccurring elements */

textarea {
	resize: none;
}

/* styling of titles */
.title {
	color: var(--color-red);
	font-weight: 700;
	font-style: italic;
	text-transform: capitalize;
	margin-block: 20px;
	line-height: var(--title-line-height);
}
.sub-title {
	font-size: var(--sub-title-font-size);
}
.mid-title {
	font-size: var(--mid-title-font-size);
	text-shadow: -0.01ch 0.12ch rgba(102, 102, 102, 0.2);
}
.big-title {
	font-size: var(--big-title-font-size);
	text-shadow: -0.01ch 0.12ch rgba(102, 102, 102, 0.2);
}

/* styling of text */
.small-text {
	font-weight: 300;
	font-size: var(--small-font-size);
}
/* General custom stylings of reoccurring elements */
.d-flex {
	display: flex;
}

.text-align-c {
	text-align: center;
}

.align-c {
	align-items: center;
}

.justify-c {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.w-100 {
	width: 100%;
}

.btn {
	background-color: var(--color-btn-green);
	color: var(--color-white);
	font-size: var(--base-font-size);
	font-weight: 800;
	font-style: italic;
	text-decoration: none;
	transition: background-color 300ms ease-in;
	border-radius: 10px;
	width: min(150px, 10vw);
	height: 40px;
	margin-right: 16px;
	position: relative;
}

.btn:hover,
.btn:focus {
	background-color: var(--color-btn-dark-green);
}

.btn-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	width: 80%;
	position: absolute;
	left: 0;
}

.triangle {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-btn-dark-green);
	transition: all 300ms ease-in;
	position: absolute;
	height: inherit;
	width: 20%;
	right: 0%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.btn:hover .triangle,
.btn:focus .triangle {
	background-color: var(--color-btn-green);
}

button.btn {
	border: none;
}

/* Styling of header */
.header {
	min-height: var(--navbar-height);
	border-bottom: 15px solid var(--color-red);
}

.logo {
	height: auto;
	width: min(200px, 12vw);
}

.nav-menu {
	flex-wrap: wrap;
}

.nav-link,
.nav-link-logo {
	display: flex;
	align-items: center;
	color: var(--color-red);
	text-decoration: none;
	text-transform: uppercase;
	font-size: var(--base-font-size);
	font-weight: 700;
	padding-inline: 1vw;
}

.nav-link:last-child {
	padding-right: 0;
}
.link {
	line-break: strict;
	text-decoration: none;
}
.link-text {
	position: relative;
	color: var(--color-red);
}

/* Create line underneath the text of nav links when hovering/focusing */
.link-text::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: var(--color-red);
	transition: width 300ms ease-in;
}
/* Make sure all links get underline when hovering/focusing by getting full width */
.nav-link:hover .link-text::before,
.nav-link:focus .link-text::before,
.link:hover .link-text::before,
.link:focus .link-text::before {
	width: 100%;
}

/* Minimum width for button */
.register-btn,
.login-btn {
	min-width: 14ch;
}

/* Styling hamburger */
.hamburger {
	font-size: var(--sub-title-font-size);
	color: var(--color-red);
	cursor: pointer;
	display: none;
	padding: 4px;
}

/* Styling nav menu mobile */
.nav-container {
	display: none;
	border-left: 3px solid var(--color-red);
	border-bottom: 3px solid var(--color-red);
	border-bottom-left-radius: 15px;
	font-weight: 800;
	padding: 8px;
	background-color: var(--color-white);
	/* High z-index makes sure nav-menu is always on top of content */
	z-index: 999;
	/* Animation name set with javascript */
	animation-timing-function: linear;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

/* styling of input */
.input {
	display: block;
	border: 2px solid var(--color-border-grey);
	border-radius: 10px;
	width: 80%;
	max-width: 500px;
	height: 40px;
	padding-inline-start: 6px;
	color: var(--color-text-grey);
}
.input::placeholder {
	font-style: italic;
	color: var(--color-text-grey);
}

/* styling of sign-up page
 styling of sign-up form */
.sign-up-main {
	margin-bottom: 50px;
	min-height: 100vh;
}
.sign-up-form {
	width: 50%;
	flex-direction: column;
	padding-inline: 2vw;
	padding-top: 5vh;
	gap: 20px;
}

.input-label {
	color: var(--color-text-grey);
	font-weight: 700;
}

.password-input-container {
	max-width: 500px;
	width: 80%;
}

/* reset input width, so that container determines with of input instead of the input itself */
.password-input-container > .input {
	width: 100%;
}

/* styling eye icons for showing/hiding password */
.fa-eye,
.fa-eye-slash {
	position: absolute;
	right: 10px;
	/* center the eye in the vertical middle of the input (css trick)*/
	top: 50%;
	transform: translateY(-50%);
	color: var(--color-text-grey);
	cursor: pointer;
}

.sign-up-form-actions-container {
	max-width: 500px;
	width: 80%;
}

.register-submit-btn {
	min-width: 16ch;
}

.fa-check {
	font-size: 20px;
}

.sign-up-login-link > .link-text {
	display: block;
	width: fit-content;
}

/* styling airplane image on sign up page */
.airplane-img {
	width: 50%;
	object-fit: cover;
	object-position: left;
	filter: saturate(0.8);
}

/* Styling terms-of-use page */
.terms-of-use-main,
.privacy,
.service {
	flex-direction: column;
}
.terms-of-use-main {
	gap: 5vh;
	color: var(--color-text-grey);
	min-height: 100vh;
	margin-bottom: 85px;
}
.terms-of-use-title {
	font-size: var(--big-title-font-size);
	text-shadow: -0.01ch 0.12ch rgba(102, 102, 102, 0.2);
	line-height: initial;
}
.privacy,
.service {
	padding-inline: 2vw;
	gap: 20px;
	width: 100vw;
	margin-bottom: 5vh;
}
.privacy li,
.service li {
	list-style-position: inside;
}

/* Buddy popup profile */

#buddy-popup {
	margin: 100px auto;
	top: 15%;
	background-color: var(--color-white);
	width: 900px;
	padding-bottom: 40px;
	box-shadow: var(--color-bg-grey) 0 0 12px;
	border-radius: 10px 10px 10px 10px;
}

.popup-header {
	background: linear-gradient(
		90deg,
		rgba(216, 30, 5, 1) 0%,
		rgba(187, 57, 40, 1) 55%,
		rgba(156, 45, 30, 1) 100%
	);
	color: var(--color-white);
	padding: 25px;
	border-radius: 10px 10px 0 0;
}

.popup-header p,
.popup-header h1 {
	margin-left: auto;
	font-size: var(--sub-title-font-size);
}

.popup-content {
	justify-content: space-around;
	gap: 10px;
	padding: 40px 40px 0 40px;
	align-items: flex-start;
	background: var(--color-white);
}

.flex-item {
	background: var(--color-bg-grey);
	padding: 15px;
	border-radius: 10px;
}

.flex-item.buddy-picture {
	background: var(--color-bg-grey);
	padding: 0;
	padding-bottom: 10px;
	border-radius: 10px;
}

.flex-item h2 {
	border-bottom: 2px solid var(--color-border-grey);
	padding-bottom: 10px;
	margin-bottom: 15px;
	color: var(--color-text-grey);
}

.buddy-picture img {
	border-radius: 10px 10px 0 0;
	padding-bottom: 5px;
}

.interests {
	flex-flow: row wrap;
	gap: 15px 50px;
}

/* Create line underneath the text of nav links when hovering/focusing */
.link-text::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: var(--color-red);
	transition: width 300ms ease-in;
}

.nav-link:hover .link-text::before,
.nav-link:focus .link-text::before {
	width: 100%;
}

/* Fix width for register button */
.register-btn,
.login-btn {
	min-width: 14ch;
}

/* Styling hamburger */
.hamburger {
	font-size: 32px;
	color: var(--color-red);
	cursor: pointer;
	display: none;
	padding: 4px;
}

/* Styling nav menu mobile */
.nav-container {
	display: none;
	border-left: 3px solid var(--color-red);
	border-bottom: 3px solid var(--color-red);
	border-bottom-left-radius: 15px;
	font-weight: 800;
	padding: 8px;
	background-color: var(--color-white);
	/* High z-index makes sure nav-menu is always on top of content */
	z-index: 999;
	/* Animation name set with javascript */
	animation-timing-function: linear;
	animation-duration: 300ms;
	animation-fill-mode: forwards;
}

/*footer*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: var(--color-red);
	height: 18%;
	background-color: var(--color-white);
}

.flex-container {
	display: flex;
	margin-top: 10px;
	border-top: 15px solid var(--color-red);
}

.footer-link-block {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

.reis-quote {
	margin-top: 10px;
}

.footer-titel {
	color: var(--color-text-grey);
	display: inline-block;
	margin-bottom: 10px;
}

.footer-link {
	color: var(--color-red);
	text-decoration: none;
}

.copyright {
	color: black;
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
}
.socialMedia {
	margin-top: 10px;
	position: absolute;
	right: 1%;
}

/* Styling buddy matching */
.matching-container {
	flex-direction: column;
	width: 1400px;
	max-width: 95%;
	height: 750px;
}

.matching-header {
	width: 100%;
	min-height: 100px;
	margin: 50px auto 10px auto;
}

.matching-header-text {
	font-size: var(--mid-title-font-size);
	font-style: italic;
	color: var(--color-red);
	text-align: center;
}

.matching-sidebar {
	flex-direction: column;
	width: 20%;
	margin-top: 75px;
	margin-right: 10px;
	gap: 25px;
}

.matching-sidebar .btn {
	width: 100%;
	min-width: 195px;
	height: 65px;
	border: 5px solid var(--color-btn-dark-green);
	cursor: pointer;
}

.matching-sidebar .btn:focus,
.matching-sidebar .btn:hover {
	border-color: var(--color-btn-green);
}

.matching-sidebar .btn:focus {
	cursor: default;
}

.matching-sidebar .btn-text {
	position: relative;
	margin: auto;
	width: 100%;
	height: 100%;
}

.matching-matches-container {
	flex-direction: column;
	height: 600px;
	width: 80%;
	overflow: auto;
}

.matching-matches-header {
	justify-content: flex-start;
	align-items: end;
	width: 100%;
	height: 50px;
	gap: 19px;
	padding-left: 144px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-text-grey);
}

.matches-header-text,
.buddy-property {
	width: 120px;
	color: var(--color-text-grey);
}

.matching-matches {
	flex-direction: column;
	height: 100%;
	gap: 10px;
	overflow: auto;
}

.buddy-list-item {
	display: flex;
	height: 130px;
	max-width: 95%;
	background: var(--color-bg-grey);
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	align-items: center;
	padding: 25px 25px;
	margin-left: 10px;
}

.buddy-attr-container {
	display: flex;
	align-items: center;
	gap: 2%;
	margin-left: 10px;
}

.buddy-img {
	width: 90px;
	height: 90px;
}

.buddy-btn-container {
	display: flex;
	flex-direction: row;
	width: 400px;
	gap: 1%;
	margin-right: 10px;
}

.buddy-btn-container .btn {
	width: 100%;
	cursor: pointer;
	min-width: 90px;
	min-height: 40px;
}

.buddy-btn-container .btn-text {
	font-size: var(--small-font-size);
	color: var(--color-white);
	margin: auto;
	position: relative;
}

.btn-red {
	background-color: var(--color-red);
}

.btn-red:focus,
.btn-red:active,
.btn-red:hover {
	background-color: var(--color-red-dark);
}

.btn-red {
	transition: background-color 300ms ease-in;
}

/* Styling login modal */
.login-container,
.popup-container {
	display: none;
	left: 0;
	top: 0;
	z-index: 1000;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

.login {
	margin: 100px auto;
	flex-direction: column;
	max-width: 80%;
	width: 600px;
	min-height: min-content;
	height: 400px;
	border-radius: 8px;
	background-color: var(--color-bg-grey);
	gap: 44px;
	color: var(--color-text-grey);
}

.login-header {
	padding: 8px 15px 8px 15px;
	width: 100%;
	height: 60px;
	background-color: var(--color-red);
	border-radius: 8px 8px 0 0;
	font-size: var(--sub-title-font-size);
	color: var(--color-white);
}

.login-header-content {
	margin-left: auto;
	margin-bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.login-header h2 {
	font-style: italic;
}

.login-close {
	font-weight: bold;
}

.login-close:hover {
	color: var(--color-text-grey);
	cursor: pointer;
}

.login-content {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	width: 80%;
	height: 30px;
	font-size: var(--base-font-size);
}

.login-input {
	width: 300px;
	max-width: 80%;
	height: 30px;
	border-radius: 8px;
	text-align: center;
}

.login-content-btn {
	width: 80%;
	border: none;
	margin: auto;
}
.login-content-btn:hover {
	cursor: pointer;
}

.login-content-btn .triangle {
	position: relative;
	height: 100%;
	width: 10%;
	margin-left: auto;
}

.login-content-btn .btn-text {
	width: 100%;
	height: 100%;
	margin-left: auto;
}

.login-footer {
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	font-size: var(--small-font-size);
	gap: 20px;
}

.login-link {
	text-decoration: none;
	color: var(--color-red);
}

.login-link:hover .link-text::before {
	width: 100%;
}

/*	styling for about us 
	added margin because the text went up by 2 px due to border-bottom 
	needs to be fixed!!! */
.active.link-text::before {
	width: 100%;
}
	
.about-us {
	display: grid;
	grid-gap: 20px;
	padding-bottom: 40px;
}
	
.wrapper {
	margin: 4vh 9vw;
	min-height: auto;
}
	
.aboutus-head {
	margin-block: 40px;
}
	
.about-us-card {
	background-color: var(--color-bg-grey);
	border-radius: 15px;
	padding-block: 8px;
	box-shadow: 5px 5px 10px 5px var(--color-border-grey);
}
	
.about-us-header {
	color: var(--color-red);
	font-size: var(--sub-title-font-size);
	font-style: italic;
	margin: 0 0 5px 30px;
}
	
.about-us-text {
	color: var(--color-text-grey);
	width: 98%;
}
	
.about-us-content-container {
	display: flex;
	margin: 10px 0 10px 30px;
}
	
.corenbuddy {
	grid-column: 1 / 4;
}
	
.corenbuddy-text {
	width: 80%;
}
	
.corenbuddy-btn {
	margin-right: 30px;
	min-width: 18ch;
}
	
.geschiedenis-card {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
	
.wie-zijn-wij-card {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
	
.wie-zijn-wij-text {
	width: 95%;
}

/* contact styling */

.contact-form {
	background-color: var(--color-bg-grey);
	padding: 5px;
	border-radius: 15px;
	height: auto;
	display: grid;
	width: max-content;
	box-shadow: 5px 5px 10px 5px var(--color-border-grey);
}

.contactSubmit {
	border: none;
	cursor: pointer;
	grid-column: 1/2;
	margin-bottom: 15px;
	margin-left: 15px;
	min-width: 13ch;
}

.fr-1 {
	grid-column: 1 / 2;
	grid-row: 1 / 1
}

.fr-2 {
	grid-column: 2 / 3;
	grid-row: 1 / 1
}

.fr-3 {
	grid-column: 1 / 3;
	grid-row: 2 / 2;
}

.form-group {
	margin: 15px;
}

.contact-name,.contact-phone,
.contact-email,.contact-subject {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid var(--color-border-grey);
}

.contact-text {
	border-radius: 5px;
	padding: 5px;
	border: 1px solid var(--color-border-grey);
	font-family: "Open Sans", sans-serif;
}

.label-contact {
	margin-bottom: 2px;
	color: var(--color-red)
}
	
/* styling for line between about us and contact form */
.devider {
	width: 75%;
	border: 2px solid var(--color-red);
	border-radius: 15px;
	box-shadow: 1px 1px 5px 1px rgba(255,0,25,0.6);
	margin: auto;
}
	
/* contact form styling */


/* media queries  */
@media screen and (max-width: 768px) {
	.nav-menu > .nav-link,
	.btn-container {
		display: none;
	}

	.logo {
		width: 200px;
	}

	.hamburger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
	}

	.nav-menu-mobile {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}

	.interests {
		gap: 15px 20px;
	}

	/* Buddy profile popup */
	.popup-content {
		gap: 40px;
		flex-direction: column-reverse;
	}

	#buddy-popup {
		width: calc(100vw - 15vw);
	}

	.buddy-picture {
		align-self: center;
	}

	/* Sign up page */
	.airplane-img {
		display: none;
	}

	.sign-up-form {
		width: 100vw;
		align-items: center;
		margin-bottom: 85px;
	}

	.input-container,
	.sign-up-form .small-text,
	.sign-up-form-actions-container {
		width: 80%;
		max-width: 500px;
		margin-inline: auto;
	}

	.input-container > .input,
	.password-input-container {
		width: 100%;
	}
	.terms-of-use-title {
		font-size: var(--mid-title-font-size);
	}
	/* Buddy profile popup */
	.popup-content {
		gap: 40px;
		flex-direction: column-reverse;
	}

	#buddy-popup {
		width: calc(100vw - 15vw);
	}

	.buddy-picture {
		align-self: center;
	}

	/* Login modal */
	.login {
		height: 460px;
		min-width: min-content;
		gap: 20px;
	}

	.login-content {
		flex-direction: column;
		height: 80px;
		width: 100%;
		margin: 10px auto;
		gap: 5px;
	}

	.login-content label {
		margin-left: 10%;
		margin-right: auto;
	}

	.login-input {
		margin: auto;
		width: 80%;
	}

	.login-footer {
		gap: 5px;
	}

	/* about us page */
	.corenbuddy-content-container {
		flex-direction: column;
		gap: 10px;
	}

	.corenbuddy-text {
		width: 90%;
	}

	.geschiedenis-card {
		grid-column: 1 / 4;
		grid-row: 2 / 2;
	}
	.wie-zijn-wij-card {
		grid-column: 1 / 4;
		grid-row: 3 / 3;
	}

	.corenbuddy-text {
		width: 100%;
	}

	.corenbuddy-btn {
		margin-block: auto;
		margin-bottom: 0;
	}
	 
	/*contact styling */
	.contact-text {
		width: 275px;
	}

	.fr-1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	
	.fr-2 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	
	.fr-3 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.contact-name,.contact-phone,
.contact-email,.contact-subject {
	width: 275px;
	}

}

@media screen and (max-width: 850px) {
	/* Shrinks the navbar font-size and btn size to ensure that it can go down to ipad/tablet size */
	.link-text {
		font-size: var(--small-font-size);
	}

	.login-btn {
		min-width: 11ch;
	}

	.login-btn .triangle {
		width: 26px;
	}

	.nav-link-logo {
		margin: 0 8px;
	}

	.nav-link {
		padding-right: 1vw;
	}
	.terms-of-use-main {
		margin-left: 16px;
	}

	.matching-content {
		flex-direction: column;
		align-items: center;
	}

	.matching-container {
		margin: auto;
		width: 98%;
	}

	.matching-matches-container {
		width: 95%;
	}

	.matching-sidebar {
		flex-direction: row;
		width: 95%;
		gap: 5px;
	}

	.matching-sidebar .btn {
		min-width: 120px;
	}

	.matching-sidebar .btn .btn-text {
		font-size: var(--small-font-size);
	}

	.matching-matches {
		align-items: center;
		margin: auto;
	}

	.buddy-list-item {
		flex-direction: column;
		height: 200px;
		width: 100%;
		padding: 50px 5px;
	}
}

/* Animations */

/* Animation to show the mobile navigation menu */
@keyframes showMenu {
	from {
		right: -50%;
	}
	to {
		right: 0%;
	}
}

/* Animation to hide the mobile navigation menu */
@keyframes hideMenu {
	from {
		right: 0%;
	}
	to {
		right: -50%;
	}
}
