:root {
	--red-color: #d81e05;
	--red-color-dark: #800f00;
	--button-color: #26a514;
	--button-color-dark: #1e8210;
	--grey-text-color: #666;
	--grey-border-color: #d9d9d9;
	--white-text-color: #fff;
}
